<!DOCTYPE html>
<html lang="#{{LANGUAGE}}">
<head>
	<title>${title}</title>
<?PY if GOOGLE_ANALYTICS_ID: ?>
	<script>
	var _gaq = [['_setAccount', '#{{GOOGLE_ANALYTICS_ID}}'], ['_trackPageview'], ['_trackPageLoadTime']];
	var _gaq_start = new Date();
	</script>
<?PY #endif ?>
	<meta name="viewport" content="width=device-width"/>
	<meta name="format-detection" content="telephone=no"/>
<?py if page == 'comments': ?>
	<meta name="robots" content="nofollow"/>
<?py #endif ?>
	<link href="#{{BLOG_HOME_RELATIVE_PATH}}feed" rel="alternate" title="${{BLOG_TITLE}} - ATOM Feed" type="application/atom+xml"/>
	<link href="#{{BLOG_HOME_RELATIVE_PATH}}comment-feed" rel="alternate" title="${{BLOG_TITLE}} - Comment Feed" type="application/atom+xml"/>
	<link rel="stylesheet" href="/theme/iphonsta/css/style.css?#{{CURRENT_VERSION_ID}}"/>
</head>
<body>
	<div id="out">
		<div id="inner">
		<div id="hd">
			<h1 id="lg"><a href="#{{BLOG_WAP_RELATIVE_PATH}}">${{BLOG_TITLE}}</a></h1>
<?py if page in ('article', 'comments'): ?>
			<h2><a href="#{{BLOG_WAP_RELATIVE_PATH}}#{article.quoted_url()}">${article.title}</a></h2>
<?py #endif ?>
		</div>