<?py include('header_mobile.html') ?>
<div id="cnt">
<?py
if articles:
	for article in articles:
?>
<h2><a class="art" href="#{{BLOG_WAP_RELATIVE_PATH}}#{article.quoted_url()}">${article.title}<br/>
<span class="info">#{article.replies} comment#{'s' if article.replies > 1 else ''}, #{article.hits} view#{'s' if article.hits > 1 else ''}, since ${formatted_time(article.time)}</span></a></h2>
<?py 	#endfor
	if next_cursor:
?>
	<p class="wp-pagenavi"><a href="#{{BLOG_WAP_RELATIVE_PATH}}?cursor=#{quoted_string(next_cursor)}" class="nextpage">Next Page</a></p>
<?py
	#endif
elif cursor:
?>
	<h2>It's already the last page.</h2>
	<p>Why not have a look at other pages?</p>
<?py else: ?>
	<h2>There isn't any articles now.</h2>
	<p>Please visit next time.</p>
<?py #endif ?>
</div>
<?py include('footer_mobile.html') ?>
