body {
background:#f8f8f8;
}
ins {color: #008800}
del{color: #880000}
body,input,textarea,#dsq-content {
color:#000;
font: 14px 'Trebuchet MS',Tahoma,Georgia,serif,Helvetica, sans-serif !important;
}
#collapsible{position:absolute;right:0;top:0;width:3px;height:100%;overflow:hidden;border:2px solid #f8f8f8;border-top:none;border-bottom:none;background:#eee;cursor:pointer}
#collapsible.hover{border-color:#d3d9e5;border-width:1px;width:5px}
#collapsible-arrow{width:4px;height:12px;background:url(/static/images/hide-arrow.gif) top left no-repeat;position:absolute;margin-left:-15px;display:none;z-index:5}
#collapsible-arrow.collapsed{background:url(/static/images/show-arrow.gif) top left no-repeat;margin-left:17px}
#commentform textarea {
width:100%;
background:#f8f8f8;
}
#commentform p{
padding-top:15px
}
.replycomments{margin-left: 12px}
.cmtdate{color: #666}
#doc3 {margin:0 !important}

::-moz-selection{background:#000;color:#f8f8f8;}
::selection{background:#000;color:#f8f8f8;}

a.new,a.new:visited,a.edit,span.edit,a.delete,.entry .post_date,.entry .tags,.entry .comments,#sidebar ul.archives li,#sidebar ul.links li,#sidebar ul.recent li,ul#tagcloud li,.shorturl,.feed a {
background:url(/static/images/icons.png) no-repeat;
padding-left:20px;
height:16px;
line-height:16px
}
img {
border:0
}

div {
position:relative
}

form {
margin:0;
padding:0
}

h1,h2,h3 {
font-weight:400
}

a,a:visited {
color:#069;
text-decoration:none;
outline:none;
}

a.external {
background:url(/static/images/external.png) no-repeat;
margin-left:10px;
padding-left:10px;
}
a.new,a.new:visited {
color:green;
background-position:-8px -168px
}

a.edit,span.edit {
background-position:-8px -232px
}

a.delete {
background-position:-8px -200px
}

#new textarea {
height:280px;
width:690px
}
#new table td {
vertical-align:middle;
height:30px
}

#new input[type=text] {
width:300px
}
.settings{text-transform:lowercase}
table td {
vertical-align:top
}

#header {
position:relative;
background:#f1f1f1;
}

#menu {
background: #444;float:left;width: 100%}

#menu li {
float: left;
margin-bottom: 0;
font: 14px/46px 'Trebuchet MS',Tahoma,Georgia;
display: block;
position: relative;
}
#menu li ul { display: none; }
#menu li:hover ul{
display: block;
position: absolute;
}
#menu li:hover li {
float: none;
}
#menu li.selected a{
font-weight:bold;
background: url("data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAABgAAAAKCAYAAACuaZ5oAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAH1JREFUeNpi/P//PwORgBmIJ0DZBUD8lyhdIAuIwEJAvP0/AmyHihHUS4zhKkB8+z8muA2Vo8gCeyB++x83eAtVQ5YFOUD88z9h8AeqlmgLmIF48n/SwWSoXrwWoEcmqQAj8omJTFIBSuQTG5mkAnjkwyLzz3/qA3DkAwQYABEvANn67PzPAAAAAElFTkSuQmCC") no-repeat scroll center 40px transparent; }
#menu li a {
display: block;
text-decoration: none;
text-align: center;
text-transform: lowercase;
color: #fff;
padding: 0 25px;
white-space: nowrap;
}

#menu a:hover {
text-decoration: underline
}
.gc-social {
    font-size: 12px;
    margin-top: -1px;
    position: absolute;
    right: 25px;
    top: 25px;
}
 .signed-in > div {
    float: left;
}
.gc-social img {
    border: 1px solid #ACACAC;
    border-radius: 2px 2px 2px 2px;
    margin-left: 8px;
    vertical-align: middle;
      height: 30px;
    width: 30px;
}
 .gc-social #loginLink {
    color: #484848;
}
.button {
    -moz-box-orient: vertical;
    -moz-box-sizing: content-box;
    -moz-transition-duration: 0.218s;
    -moz-transition-property: all;
    background: -moz-linear-gradient(center top , #F5F5F5, #F1F1F1) repeat scroll 0 0 transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px 2px 2px 2px;
    color: #666666;
    cursor: pointer;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    height: 27px;
    line-height: 27px;
    min-width: 54px;
    padding: 0 8px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
}
.signed-in a,.signed-in a:visited {
    color: #808080;
    display: block;
    line-height: 140%;
    text-align: right;
}
.feed {margin-left:10px;float: left;padding-top: 20px}
.feed a {
background-position:-8px -102px;
height:20px
}
#menuDiv:hover{background: #fff}
#menuDiv:hover a{color: #000}
#menuDivdropdown{display:none;background:#fff;position:absolute;right:0;top:46px;z-index: 2;box-shadow: 5px 5px 5px #ccc;-moz-box-shadow:5px 5px 5px #ccc;-webkit-box-shadow:5px 5px 5px #ccc}
#menuDivdropdown a.menuItem{display:block;padding:0 25px;text-align:right;text-decoration:none}
#menuDivdropdown a:hover{background: #fff}
#logo {
font-weight:400;
float: left;
padding: 25px 0 25px 25px;
font-size:1.8em;
font-family:'Trebuchet MS',Tahoma,Georgia,"Times New Roman",Times,serif;
}

#logo a,#logo a:visited {
color:#000;
text-decoration:none
}

#sidebar {
padding-top:25px;
padding-right:25px
}

.douban table td {
vertical-align:middle;
padding:2px
}

.box,.entry.summary{
margin-bottom:1.5em
}

.box h3 {
font-size:1.5em;
text-transform:lowercase;
margin-bottom:.5em
}

.box h3 a {
color:#000;
}

#sidebar .box .photo {
margin-bottom:.5em
}

#sidebar .box .photo img {
border:1px solid silver;
padding:1px
}

#sidebar .box ul {
list-style:none;
margin:0;
padding:0
}
#sidebar ul li {
margin: 0;
padding-left: 20px;
background-position:-8px -296px;
}
#sidebar ul li.comment{padding-left:0}
#sidebar ul.links li,.shorturl{
background-position: -8px -134px;
margin-bottom:5px
}
#sidebar ul.recent li{
background-position: -8px -296px;
height:auto;
}
ul.related li {list-style:decimal inside}
#sidebar ul.archives li{
background-position: -8px -328px;
}

#sidebar .entry.summary .date {
font-size:8pt
}

#main {
padding:25px
}

.entry.full a.delete,.entry.full a.delete:visited,.entry.full a.edit,.entry.full a.edit:visited {
text-decoration:underline;
font-size:10pt;
color:red;
font-weight:400
}

.entry.full {
clear:both;
padding-bottom:1.2em;
margin-bottom:1.2em;
border-bottom:1px solid #ddd
}

.entry.full a.entry_title,.entry.full span.entry_title,a.comment_title {
font-size:1.7em;
text-transform:lowercase
}

.entry.full a.entry_title,.entry.full a.entry_title:visited,.entry.full span.entry_title,.entry.summary a.entry_title,.infomessage a,a.comment_title,.comment_date a {
color:#000
}

.entry .post_date {
margin-top:.5em;
background-position:-8px -8px;
font-size:95%
}
.comment_date,.comment_date a{font-size:100%}
.entry.full .body,.comment_body {
margin-bottom:.5em;
line-height:1.7em;
margin-top:.5em;
}
.comments_body{
margin-bottom:.5em;
line-height:1.7em;
}

.entry.full .body p {
margin:0 0 1em
}

.entry.full .body h2 {
font-size:14pt;
margin-bottom:.25em
}
.entry.full .body h3 {
margin-bottom:.25em;
font-weight:700
}

p.more {
height: 30px;
font-weight:700;
line-height:190%
}
p.morecomments{
text-align:right;
}
.entry .meta,.comment_date,.post_date{
color:#666;
}
.entrycount{color:#999;font-size:10px
}
.entry .meta a,.comment_date a{
color:#666;
background: #eee}
.entry .meta{height: 20px;margin-top: 1.2em
}

.entry .tags,.entry .comments,.entry .shorturl{padding-right: 20px;float: left;}
.entry .tags {
background-position:-8px -264px;
}

.tags .atag {
margin-right:5px
}
.months li,.entries li{
list-style:none inside
}
.closed-button{
background:url("/static/images/plus.gif") no-repeat 0 65%;
display:block;
height:16px;
width:16px;
float:left
}
.open-button{
background:url("/static/images/minus.gif") no-repeat 0 65%;
display:block;
height:16px;
width:16px;
float:left
}

.months ul.month_entries{margin:5px 0 5px 30px;display:none}
.months ul.month_entries li{list-style:none inside}
.entry.summary h2{
font-size:16pt;
font-weight:400
}

.entry.summary .date {
font-size:11pt
}

.entry:hover a.hidden {
display:inline
}
.entry ul {
margin-bottom:1em;
padding-left:1em;
}

.entry li {
list-style-image:none;
list-style-position:inside;
list-style-type:inherit;
margin:0
}

.entry.summary .body {
margin-bottom:.5em;
margin-top:.5em;
line-height:1.7em
}

.entry .comments {
background-position:-8px -40px;
}

ul.relatedcomments li.pagecomment{
padding:5px 0
}
ul.relatedcomments li.pagecomment .gravatar,.gravatar{
float:left;
margin-right:5px;
}
.commentgravatar{
float:right;margin-left:5px;
}
.gravatar img,.commentgravatar img{border:1px solid #999;}
ul.relatedcomments li.pagecomment .commentbody p{
padding-top:5px
}
.status_title{
background:url("/static/images/quote.png") no-repeat;
padding-left:20px;}
ul li {
margin-bottom:.3em
}

pre,blockquote {
margin:1em 0;
padding:.5em
}

blockquote {
background:#efefef;
}

blockquote p {
margin-bottom:0 !important
}

pre {
word-wrap:break-word;
border:1px solid #bbb !important;
overflow:hidden;
color:#f0f0f0;
font-family:Courier New,Courier,monospace
}
.entry th,td{text-align:left;vertical-align:top}
.entry table{margin:1em 0 0 1px;border:1px solid;border-color:#bbb;border-spacing:0;border-collapse:collapse;clear:right;line-height:125%}
.entry th{font-weight:bold;text-align:left;padding:3px 6px;border:1px solid #bbb;background-color:#e5ecf9}
.entry td{padding:3px 6px;border:1px solid #bbb;background-color:#fff;text-align:left;vertical-align:top}

strong {
font-weight:bold
}

em {
font-style:italic
}

del {
text-decoration:line-through
}

.navigation {
font-size:12pt;
width:100%;
padding-bottom:25px
}

.navigation .previous {
float:left}
.navigation .previous,.navigation .next{
color: #000;
line-height:180%
}

.navigation .next {
float:right
}
#ft{background:#fff;
border-top:1px solid #eee
}
#footer {
color:#000;
padding:25px 25px 50px 25px;
}
#footer a{
color:#000;
}
#appengine { float:right; text-indent:-9999px;width:215px}

a.gae{
background:url("/static/images/appengine.gif") no-repeat;
display:block;
height:30px;
width:120px;
float:right}

a.python{
background:url("/static/images/python-powered.png") no-repeat;
display:block;
height:28px;
width:70px;
float:left}

#footermeta{float:left}

#searchbox{   left: 270px;
    position: absolute;
    top: 25px;
    width: 350px;}
input.gsc-input {
padding: 5px !important;
height: auto !important;
background: #f8f8f8 !important;
border: 1px solid #C4CBD6 !important;
font: normal 1em Arial, Helvetica, sans-serif !important;
width:95%
}

.gs-result .gs-snippet {
line-height:1.5em;
}

.gs-result .gs-title,.gs-result .gs-title * {
text-decoration:none !important
}

.gs-result .gs-title, .gs-result .gs-title * {
color:#069 !important;
}

table.gsc-search-box td.gsc-input {
}
.gsc-adBlock{
display:none !important
}
p,.infomessage {
margin-bottom:1em
}
.infomessage{font-size:1.3em;text-transform:lowercase}
a:hover,#logo a:hover,#sidebar .box:hover h3 a {
text-decoration:underline
}
#hideside{cursor:help}
a.hidden,ul.hidden,table.gsc-branding,.gs-result a.gs-visibleUrl,.gs-result .gs-visibleUrl,input.gsc-search-button {
display:none
}


#sidebar .box li,#sidebar .entry.summary {
margin-bottom:.5em
}

.allposts,.months,.entries {
margin-top:20px
}
#notification {
border:1px solid #C4CBD6;
display:inline;
padding:3px;
float:right
}
#contactform {
border:1px solid #C4CBD6;
padding:15px
}
#tagcloud{
clear:both;
list-style:none;
}
ul#tagcloud li{
float:left;
margin:0 0.2em;
background-position:-8px -264px;
}
#tagcloud li a{
}
#tagcloud li.t1 a {font-size:90%; }
#tagcloud li.t2 a {font-size:100%; }
#tagcloud li.t3 a {font-size:110%; }
#tagcloud li.t4 a {font-size:120%; }
#tagcloud li.t5 a {font-size:130%; }
.seinpt{margin-bottom: 10px}
.seinpt p{width:300px;float: left;font-size: 13px}
.seinpt input{width: 400px;padding: 4px}
.section h2{margin-bottom: 2em !important}
.save input{font-size: 14px}
