body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, select, p, blockquote, th, td {margin: 0;padding: 0}
body {
background:#f8f8f8;
}
ins {color: #008800}
del{color: #880000}
body,input,textarea,#dsq-content {
color:#000;
font-family:'Trebuchet MS',Tahoma,Georgia,serif,Helvetica, sans-serif !important;
}
#collapsible{position:absolute;right:0;top:0;width:3px;height:100%;overflow:hidden;border:2px solid #f8f8f8;border-top:none;border-bottom:none;background:#eee;cursor:pointer}
#collapsible.hover{border-color:#d3d9e5;border-width:1px;width:5px}
#collapsible-arrow{width:4px;height:12px;background:url(/static/images/hide-arrow.gif) top left no-repeat;position:absolute;margin-left:-15px;display:none;z-index:5}
#collapsible-arrow.collapsed{background:url(/static/images/show-arrow.gif) top left no-repeat;margin-left:17px}
.admins{background:url(/static/images/mod.png) center right no-repeat;padding-right: 17px}
#commentform textarea {
width:100%;
background:#f8f8f8;
}
#commentform p{
padding-top:15px
}
.replycomments{margin-left: 50px}
.cmtdate{color: #666;font-size: 80%}
#doc3 {margin:0 !important}

::-moz-selection{background:#000;color:#f8f8f8;}
::selection{background:#000;color:#f8f8f8;}

a.new,a.new:visited,a.edit,span.edit,a.delete,a.deletecomment,.entry .post_date,.entry .tags,.entry .comments,#sidebar ul.archives li,#sidebar ul.links li,#sidebar ul.recent li,ul#tagcloud li,.shorturl,.feed a {
background:url(/static/images/icons.png) no-repeat;
padding-left:20px;
height:16px;
line-height:16px
}
img {
border:0
}

div {
position:relative
}

form {
margin:0;
padding:0
}

h1,h2,h3 {
font-weight:400
}

a,a:visited {
color:#069;
text-decoration:none;
outline:none;
}

a.external {
background:url(/static/images/external.png) no-repeat;
margin-left:10px;
padding-left:10px;
} 
.entry.full h1 a.external {margin-left: 0}
a.new,a.new:visited {
color:green;
background-position:-8px -168px
}

a.edit,span.edit {
background-position:-8px -232px;
display: inline-block;
height: 20px;
}

a.delete ,a.deletecomment{
background-position:-8px -200px
}

#new textarea {
height:280px;
width:690px
}
#new table td {
vertical-align:middle;
height:30px
}

.settings{text-transform:lowercase}
table td {
vertical-align:top
}

#header {
position:relative;
background:#f1f1f1;
}

#menu {
background: #444;float:left;width: 100%;padding: 0}
#menu ul{margin: 0 0 0 10px}

#menu li {
margin-bottom: 0;
font: 16px/46px 'Trebuchet MS',Tahoma,Georgia;
position: relative;
}
li{list-style: none;}
#menu li ul,.diff { display: none; }
#menu li:hover ul{
display: block;
position: absolute;
}
#menu li:hover li {
float: none;
}
#menu li.selected a{
font-weight:bold;
background: url("data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAABgAAAAKCAYAAACuaZ5oAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAH1JREFUeNpi/P//PwORgBmIJ0DZBUD8lyhdIAuIwEJAvP0/AmyHihHUS4zhKkB8+z8muA2Vo8gCeyB++x83eAtVQ5YFOUD88z9h8AeqlmgLmIF48n/SwWSoXrwWoEcmqQAj8omJTFIBSuQTG5mkAnjkwyLzz3/qA3DkAwQYABEvANn67PzPAAAAAElFTkSuQmCC") no-repeat scroll center 40px transparent; }
#menu li a {
display: block;
text-decoration: none;
text-align: center;
text-transform: lowercase;
color: #fff;
padding: 0 15px;
white-space: nowrap;
}

#menu a:hover {
text-decoration: none;
background: #000
}
.gc-social {
    font-size: 12px;
    margin-top: -1px;
    position: absolute;
    right: 25px;
    top: 25px;
}
 .signed-in > div {
    float: left;
}
.gc-social img {
    border: 1px solid #ACACAC;
    border-radius: 2px 2px 2px 2px;
    margin-left: 8px;
    vertical-align: middle;
      height: 30px;
    width: 30px;
}
 .gc-social #loginLink {
    color: #484848;
}
.button {
    -moz-box-orient: vertical;
    -moz-box-sizing: content-box;
    -moz-transition-duration: 0.218s;
    -moz-transition-property: all;
    background: -moz-linear-gradient(center top , #F5F5F5, #F1F1F1) repeat scroll 0 0 transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px 2px 2px 2px;
    color: #666666;
    cursor: pointer;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    height: 27px;
    line-height: 27px;
    min-width: 54px;
    padding: 0 8px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
}
.signed-in a,.signed-in a:visited {
    color: #808080;
    display: block;
    line-height: 140%;
    text-align: right;
}
.feed {margin-left:10px;float: left;padding-top: 20px}
.feed a {
background-position:-8px -104px;
height:20px
}
#logo {
font-weight:400;
float: left;
padding: 25px 0 25px 25px;
font-size:1.6em;
font-family:'Trebuchet MS',Tahoma,Georgia,"Times New Roman",Times,serif;
margin: 0;
}

#logo a,#logo a:visited {
color:#000;
text-decoration:none
}

.sidebar {
padding:25px;
}

.douban table td {
vertical-align:middle;
padding:2px
}

.box,.entry.summary{
margin-bottom:1.2em
}

.box h3 {
font-size:1.3em;
text-transform:lowercase;
margin-bottom:.5em
}

.box h3 a {
color:#000;
}
#sidebar {background: #f6f6f6;}
#sidebar .box .photo {
margin-bottom:.5em
}

#sidebar .box .photo img {
border:1px solid silver;
padding:1px
}

#sidebar .box ul {
list-style:none;
margin:0;
padding:0;
font-size: 95%
}
#sidebar ul li {
margin: 0;
padding-left: 20px;
background-position:-8px -296px;
}
#sidebar ul li.comment{padding-left:0}
#sidebar ul.links li,.shorturl{
background-position: -8px -134px;
}
#sidebar ul.recent li{
background-position: -8px -296px;
height:auto;
}
ul.related li {list-style:decimal inside}
#sidebar ul.archives li{
background-position: -8px -328px;
}

#sidebar .entry.summary .date {
font-size:8pt
}

.main {
padding:25px
}

.entry.full a.delete,.entry.full a.delete:visited,.entry.full a.edit,.entry.full a.edit:visited,.entry.full a.deletecomment {
text-decoration:underline;
font-size:10pt;
color:red;
font-weight:400
}

.entry.full {
clear:both;
padding-bottom:1em;
margin-bottom:1.2em;
border-bottom:1px solid #ddd
}

.entry.full a.entry_title,.entry.full span.entry_title,a.comment_title {
font-size:1em;
text-transform:lowercase
}

.entry.full a.entry_title,.entry.full a.entry_title:visited,.entry.full span.entry_title,.entry.summary a.entry_title,.infomessage a,a.comment_title,.comment_date a {
color:#000
}
.entry.full h1 span.entry_title{font-size: 0.75em}
.entry .post_date {
margin-top:1em;
background-position:-8px -8px;
font-size:80%;
display: inline-block;
height: 20px;
}
.comment_date,.comment_date a{font-size:80%}
.entry.full .body,.comment_body {
line-height:1.7em;
margin-top:1em;
}
.comments_body{
margin-bottom:.5em;
line-height:1.7em;
}

.entry.full .body p {
margin:0 0 2em
}

.entry.full .body h2 {
font-size:14pt;
margin-bottom:.25em
}
.entry.full .body h3 {
margin-bottom:.25em;
font-weight:700
}

p.more {
height: 30px;
font-weight:700;
line-height:190%
}
p.morecomments{
text-align:right;
font-size: 90%
}
.entry .meta,.comment_date,.post_date{
color:#666;
}
.entrycount{color:#999;font-size:10px
}
.entry .meta a,.comment_date a,.comments a{
color:#666;}
.entry .meta{}

.entry .tags,.entry .comments,.entry .shorturl{
    padding-right: 20px;font-size: 80%;height: 24px;display: inline-block;}
.entry .tags {
background-position:-8px -264px;}
.entry .snippetcomments{margin-left:20px;font-size: 100% }

.tags .atag {
margin-right:5px
}
.months li,.entries li{
list-style:none inside
}
.closed-button{
background:url("/static/images/plus.gif") no-repeat 0 65%;
display:block;
height:16px;
width:16px;
float:left
}
.open-button{
background:url("/static/images/minus.gif") no-repeat 0 65%;
display:block;
height:16px;
width:16px;
float:left
}

.months ul.month_entries{margin:5px 0 5px 30px;display:none}
.months ul.month_entries li{list-style:none inside}
.entry.summary h2{
font-size:16pt;
font-weight:400
}

.entry.summary .date {
font-size:11pt
}

.entry:hover a.hidden {
display:inline !important
}
.entry ul {
margin-bottom:1em;
padding-left:1em;
}

.entry li {
list-style-image:none;
list-style-position:inside;
list-style-type:inherit;
margin:0
}

.entry.summary .body {
margin-bottom:.5em;
margin-top:.5em;
line-height:1.7em
}

.entry .comments {
background-position:-8px -40px;
}

ul.relatedcomments li.pagecomment{
padding:5px 0
}
ul.relatedcomments li.pagecomment .gravatar,.gravatar{
float:left;
margin-right:5px;
}
.commentgravatar{
float:right;margin-left:5px;
}
.gravatar img,.commentgravatar img{border:1px solid #999;}
ul.relatedcomments li.pagecomment .commentbody p{
padding-top:5px
}
.status_title{
background:url("/static/images/quote.png") no-repeat;
padding-left:20px;
line-height: 1.7em;}
ul li {
margin-bottom:.3em
}

pre,blockquote {
margin:1.2em 0;
padding:.5em
}

blockquote {
background:#efefef;
}

blockquote p {
margin-bottom:0 !important
}

pre {
word-wrap:break-word;
border:0px !important;
overflow:hidden;
color:#f0f0f0;
font:90% Consolas,Menlo,Monaco,"Lucida Console","Liberation Mono","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace,serif;
background: #eee
}
.entry th,td{text-align:left;vertical-align:top}
.entry table{margin:1em 0 0 1px;border:1px solid;border-color:#bbb;border-spacing:0;border-collapse:collapse;clear:right;line-height:125%}
.entry th{font-weight:bold;text-align:left;padding:3px 6px;border:1px solid #bbb;background-color:#e5ecf9}
.entry td{padding:3px 6px;border:1px solid #bbb;background-color:#fff;text-align:left;vertical-align:top}

strong {
font-weight:bold
}

em {
font-style:italic
}

del {
text-decoration:line-through
}

.navigation {
font-size:12pt;
width:100%;
padding-bottom:25px
}

.navigation .previous {
float:left}
.navigation .previous,.navigation .next{
color: #000;
line-height:180%
}

.navigation .next {
float:right
}
#footer {
color:#000;
padding:25px;
background:#fff;
border-top:1px solid #eee
}
#footer a{
color:#000;
}
#appengine {text-indent:-9999px;width:215px}

a.gae{
background:url("/static/images/appengine.gif") no-repeat;
display:block;
height:30px;
width:120px;
float:right}

a.python{
background:url("/static/images/python-powered.png") no-repeat;
display:block;
height:28px;
width:70px;
float:left}

#footermeta{padding-bottom: 25px}

input.gsc-input {
padding: 5px !important;
height: auto !important;
background: #f8f8f8 !important;
border: 1px solid #C4CBD6 !important;
font: normal 1em Arial, Helvetica, sans-serif !important;
width:95%
}

.gs-result .gs-snippet {
line-height:1.5em;
}

.gs-result .gs-title,.gs-result .gs-title * {
text-decoration:none !important
}

.gs-result .gs-title, .gs-result .gs-title * {
color:#069 !important;
}
.cse .gsc-control-cse, .gsc-control-cse{padding: 0 !important}

table.gsc-search-box td.gsc-input {
}
.gsc-adBlock{
display:none !important
}
p,.infomessage {
margin-bottom:1em
}
.infomessage{font-size:1.2em;text-transform:lowercase}
.error404{font-size: 6em}
a:hover,#logo a:hover,#sidebar .box:hover h3 a {
text-decoration:underline
}
#hideside{cursor:help}
a.hidden,ul.hidden,table.gsc-branding,.gs-result a.gs-visibleUrl,.gs-result .gs-visibleUrl,input.gsc-search-button {
display:none
}


#sidebar .box li,#sidebar .entry.summary {
margin-bottom:.5em
}

.allposts,.months,.entries {
margin-top:20px
}
#notification {
border:1px solid #C4CBD6;
display:inline;
padding:3px;
float:right
}
#contactform {
border:1px solid #C4CBD6;
padding:15px
}
#tagcloud{
clear:both;
list-style:none;
}
ul#tagcloud li{
float:left;
margin:0 0.2em;
background-position:-8px -264px;
}
#tagcloud li a{
}
#tagcloud li.t1 a {font-size:90%; }
#tagcloud li.t2 a {font-size:100%; }
#tagcloud li.t3 a {font-size:110%; }
#tagcloud li.t4 a {font-size:120%; }
#tagcloud li.t5 a {font-size:130%; }
.seinpt{margin-bottom: 10px}
.seinpt p{width:30%;float: left;}
.seinpt input{width: 400px;padding: 4px}
.section h2{margin-bottom: 2em !important}
.save input{font-size: 14px}
.pure-form select{padding: 0 0.6em}
.pure-menu-link:focus{background-color: #000}
#code_frame {
    background-color: #fff;
    font-size: 90%;
    overflow: auto;
    padding: 0;
    border:1px solid #ddd;
    margin-bottom: 1.2em
}
#code_frame pre {
background-color: #fff;
padding: 0;margin: 0;
line-height: 150%
}
#code_buttons {
    border-bottom: 1px solid #ddd;
    font-size: .85em;
    background: #F7F7F7;
    text-align: left;
    padding: 6px 8px 4px;
}
.go_right {
    float: right;
    text-align: right;
}
a.buttonsm {
    background-color: #ddd;
    border-bottom: 2px solid #ccc;
    border-left: 0;
    border-radius: 3px;
    border-right: 0;
    border-top: 0;
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-family: "segoe ui","trebuchet MS","Lucida Sans Unicode","Lucida Sans",Sans-Serif;
    font-size: 12px;
    font-weight: 400;
    height: 18px;
    line-height: 18px;
    text-align: center;
    text-decoration: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    padding: 0 6px;
    opacity: .75;
    margin: 0 0 0 8px;
}
@media (max-width: 820px){
.buttonhide,a.buttonhide {
    display: none !important;
}}
a.snippetlink{color: #000}
.snippet{margin-bottom: 2em}
h3.snippettitle{margin-bottom: 1.2em}
li.L0, li.L1, li.L2, li.L3,
li.L5, li.L6, li.L7, li.L8
{ list-style-type: decimal !important }
.js-select-button{float: right;}
input.form-control {
    padding: .3em .6em !important;
    border-color: #E6E6E6 !important;
    border-radius: 0 !important;
}
.copybutton{margin-left: -5px}
.tooltipped{position:relative}
.tooltipped:after{position:absolute;z-index:1000000;display:none;padding:5px 8px;font:normal normal 11px/1.5 Helvetica,arial,nimbussansl,liberationsans,freesans,clean,sans-serif,"Segoe UI Emoji","Segoe UI Symbol";color:#fff;text-align:center;text-decoration:none;text-shadow:none;text-transform:none;letter-spacing:normal;word-wrap:break-word;white-space:pre;pointer-events:none;content:attr(aria-label);background:rgba(0,0,0,.8);border-radius:3px;-webkit-font-smoothing:subpixel-antialiased}
.tooltipped:before{position:absolute;z-index:1000001;display:none;width:0;height:0;color:rgba(0,0,0,.8);pointer-events:none;content:"";border:5px solid transparent}
.tooltipped:hover:before,.tooltipped:hover:after,.tooltipped:active:before,.tooltipped:active:after,.tooltipped:focus:before,.tooltipped:focus:after{display:inline-block;text-decoration:none}
.tooltipped-s:after,.tooltipped-se:after,.tooltipped-sw:after{top:100%;right:50%;margin-top:5px}
.tooltipped-s:before,.tooltipped-se:before,.tooltipped-sw:before{top:auto;right:50%;bottom:-5px;margin-right:-5px;border-bottom-color:rgba(0,0,0,.8)}
.tooltipped-s:after,.tooltipped-n:after{-webkit-transform:translateX(50%);-ms-transform:translateX(50%);transform:translateX(50%)}
.tooltipped-w:after{right:100%;bottom:50%;margin-right:5px;-webkit-transform:translateY(50%);-ms-transform:translateY(50%);transform:translateY(50%)}
.tooltipped-w:before{top:50%;bottom:50%;left:-5px;margin-top:-5px;border-left-color:rgba(0,0,0,.8)}