<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
   <title>{% block title %}{% endblock %}{{ config.TITLE }}</title>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
   <link rel="stylesheet" href="/static/css/reset-fonts-grids.css" type="text/css" />
   <link href="/static/css/base.css" rel="stylesheet" type="text/css"/>
   <link href="/static/prettify/prettify.css" type="text/css" rel="stylesheet" />
   <link type="application/rsd+xml" rel="edituri" title="RSD" href="{{ config.BASEURL }}/rpc" />
   <link href="/static/wlwmanifest.xml" type="application/wlwmanifest+xml" rel="wlwmanifest"/>
   <link rel="alternate" href="{%if config.FEED_SMITH %}{{config.FEED_SMITH}}{%else%}/feed{%endif%}" type="application/atom+xml" title="{{ config.TITLE }}"/>
   <link rel="shortcut icon" href="/favicon.ico" />
   <link rel="search" type="application/opensearchdescription+xml" href="/opensearch.xml" title="{{ config.TITLE }} Search"/>
    <script type="text/javascript" src="/static/prettify/prettify.js"></script>
    <script src="http://libs.baidu.com/jquery/1.9.0/jquery.min.js" type="text/javascript"></script>
   <script src="/static/javascript/base.js" type="text/javascript"></script>
   {% if config.WEBMASTER_VERIFICATION_CONTENT %}<meta name="google-site-verification" content="{{ config.WEBMASTER_VERIFICATION_CONTENT }}"/>{% endif %}
   {% block extra_head %}{% endblock %}
</head>
<body>
<div id="doc3" class="yui-t6">
   <div id="hd">
   <div id="header">
   {% if on_entry %}<h2 id="logo">{% else %}<h1 id="logo">{% endif %}{% if config.TITLE %}<a href="/">{{ config.TITLE }}</a>{% endif %}{% if on_entry %}</h2>{% else %}</h1>{% endif %} <span class="feed"><a href="{%if config.FEED_SMITH %}{{config.FEED_SMITH}}{%else%}/feed{%endif%}"></a></span>   <div style="clear:both"></div>
  {% block search %}
            <div id="searchbox">
              <form action="/search" id="gsearchbox">
                  <input type="text" name="q" id="input_search" class="gsc-input" value="Search..." onfocus="if (this.value == 'Search...') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Search...';}" />
                  <input type="hidden" value="Search" />
              </form>
            </div>
        {% endblock %}
   <div class="gc-social">
        {%if logined %}
    <span class="signed-in">
      <div>
        <a href="https://plus.google.com/me" class="email">{{logined.email()}}</a>
        <a href="/logout">Sign out</a>
      </div>
      <img src="{{logined.email()|gravatar(30)}}">
    </span>{%else%}<span class="signed-out">
      <a class="button" id="loginLink" href="/login">Sign in</a>
    </span>{%endif%}
    
  </div>
   <div id="menu"><ul >
   <li class="item{% if on_homepage %} selected{% endif %}"><a href="/">Home</a></li>
   <li class="item{% if on_archive %} selected{% endif %}"><a href="/archives">Archives</a></li>
   <li class="item{% if on_comments %} selected{% endif %}"><a href="/comments">Comments</a></li>
   <li class="item{% if on_statuses %} selected{% endif %}"><a href="/saying">Saying</a></li>
   {%if pages%}<li class="item" id="menuDiv"><a href="#" id="pagesdropdown">Pages</a>
      <ul id="menuDivdropdown">{%for page in pages%}<li><a class="menuItem" href="{{page.link}}">{{page.title}}</a></li>{%endfor%}</ul></li>{%endif%}
   </ul></div>
   <div style="clear:both"></div>
   </div>
   </div>
   <div id="bd">
    <div id="yui-main">
    <div class="yui-b"><div class="yui-g">
    <div id="main" class="left">
      {% block body %}{% endblock %}
    </div>
    </div>
</div>
    </div>
    <div class="yui-b">
      <div id="sidebar" class="right">

        {%block commentform%}
        {% include "commentform.html" %}
        {%endblock%}
        {% if recent_entries and not on_new%}
            <div class="box">
                <h3>Recent entries</h3>
                <ul class="recent">
                {% for entry in recent_entries %}
                    <li class="entry summary">
                        <a href="{{ entry.link }}">{{ entry.title }}</a>
                        <span class="date" title="{{ entry.published }}">
                        </span>
                    </li>
                {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% if not on_archive and not on_new%}
            {% if all_tags %}
            <div class="box">
                <h3>Tag Cloud</h3>
                <ul id="tagcloud">
                {% for tag in all_tags %}
                <li class="t{{tag.entrycount|restrict_to_max(5)}}"><a href="{{ tag.link() }}">{{ tag.name }}</a>{% if config.SHOW_ENTRYCOUNT %} <span class="entrycount">({{tag.entrycount}})</span>{%endif%}</li>
                {% endfor %}
                </ul>
            <div style="clear:both"></div>
            </div>
            {%endif%}
            {% if all_months %}
            <div class="box">
                <h3>Blog Archives</h3>
                <ul class="archives">
                {% for month in all_months %}
                <li><a href="{{ month.link() }}">{{ month.monthyear }}</a>{% if config.SHOW_ENTRYCOUNT %} <span class="entrycount">({{month.entrycount}})</span>{%endif%}</li>
                {% endfor %}
                </ul>
            </div>
            {%endif%}
        {% endif %}

        {% if config.DOUBAN and on_homepage%}
            <div class="box douban">
                <h3>Douban Fav</h3>
                <script type="text/javascript" src="http://www.douban.com/service/badge/{{config.DOUBAN}}/?show=collection&amp;n=8&amp;columns=4&amp;hidelogo=yes&amp;hideself=yes" ></script>
            </div>
        {% endif %}

        {% if on_homepage%}
        <div class="box">
            <h3>External Links</h3>
            <ul class="links">
            {% for link in LINKS %}
                <li>
                    <a href="{{ link.url() }}">{{ link.value() }}</a>
                </li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% if flickr_feed.items() %}
            <div class="box flickr">
                <h3><a href="{{ flickr_feed.link() }}">Photos</a></h3>
                {% for item in flickr_feed.items() %}
                    <div class="photo">
                        <a href="{{ item.link() }}"><img src="{{ item.media.m() }}" title="{{ item.title()|escape }}" alt="{{ item.title()|escape }}"/></a>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% if current_city %}
            <div class="box">
                <a href="http://maps.google.com/maps?q={{ current_city.latitude }},{{ current_city.longitude }} ({{ current_city.name }} {{ current_city.region}}, {{ current_city.country_code }})"><img src="http://maps.google.com/staticmap?zoom=9&amp;size=250x150&amp;markers={{ current_city.latitude }},{{ current_city.longitude }}&amp;key={{ current_city.maps_api_key }}" title="{{ current_city.name }}, {{ current_city.region }} {{ current_city.country_code }}" alt="{{ current_city.name }}, {{ current_city.region }} {{ current_city.country_code }}"/></a>
            </div>
        {% endif %}
        {% if on_new%}
        <div class="box">
            <h3>Web Mentions</h3>
            <ul class="relatedcomments">
            {% if mentions_web %}
            {% for mention in mentions_web %}
            <li class="comment"><a href="{{ mention.link }}" target="_blank">{{ mention.title }}</a> <span class="fade">by</span> <a href="{{ mention.author_detail.href }}" target="_blank">{{ mention.author_detail.name }}</a></li>
            {% endfor %}
            {% else %}
            <li class="comment">Currently no mentiones here</li>
            {% endif %}
            </ul>
        </div>
        {% endif %}

        {% for box in BOXES %}
            <div class="box">
                {% if box.title %}
                    <h3>{{ box.title|safe }}<h3>
                {% endif %}
                {{ box.html|safe }}
            </div>
        {% endfor %}
    </div>
    </div>
    </div>
   <div id="ft"><div id="footer">
        <span id="footermeta">&copy; {{config.TITLE}} {%if last_updated%}- Last updated: {{last_updated|date("%X,%x")}}{%endif%}
        <!--{% if config.EMAIL and config.NAME %}
        <a href="mailto:{{ config.EMAIL }}">{{ config.NAME }}</a> -
        {% endif %}-->
        {% if admin %}
            - <a class="new" href="/new">New</a> - <a href="/import_wp">Import</a> - <a href="/settings">Settings</a>{% endif %}
</span>
<span id="appengine"><a href="http://www.python.org/" title="Python Powered" class="python">Python</a><a href="http://code.google.com/appengine" title="Powered by Google App Engine" class="gae">Google Appengine</a></span></div></div>
</div>

{% if config.ANALYTICS and not admin %}
    <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
        var pageTracker = _gat._getTracker("{{ config.ANALYTICS }}");
        pageTracker._initData();
        pageTracker._trackPageview();
    </script>
{% endif %}
<script type="text/javascript">prettyPrint();</script>
</body>
</html>