<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
   <title>{% block title %}{% endblock %}{{ config.TITLE }}</title>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
   <meta name="viewport" content="width=device-width, initial-scale=1" />
   <link rel="stylesheet" href="/static/css/pure-min.css" type="text/css"/>
   <!--[if lte IE 8]>
   <link rel="stylesheet" href="/static/css/grids-responsive-old-ie-min.css" />
   <![endif]-->
   <!--[if gt IE 8]><!-->
   <link rel="stylesheet" href="/static/css/grids-responsive-min.css" />
   <!--<![endif]-->
   <link href="/static/css/base.css" rel="stylesheet" type="text/css"/>
   <link href="/static/prettify/prettify.css" type="text/css" rel="stylesheet" />
   <link type="application/rsd+xml" rel="edituri" title="RSD" href="{{ config.BASEURL }}/rpc" />
   <link href="/static/wlwmanifest.xml" type="application/wlwmanifest+xml" rel="wlwmanifest"/>
   <link rel="alternate" href="{%if config.FEED_SMITH %}{{config.FEED_SMITH}}{%else%}/feed{%endif%}" type="application/atom+xml" title="{{ config.TITLE }}"/>
   <link rel="shortcut icon" href="/favicon.ico" />
   <link rel="search" type="application/opensearchdescription+xml" href="/opensearch.xml" title="{{ config.TITLE }} Search"/>
   <script type="text/javascript" src="/static/prettify/prettify.js"></script>
   <script src="/static/javascript/jquery-1.3.1.min.js" type="text/javascript"></script>
   <script src="/static/javascript/base.js" type="text/javascript"></script>
   {% if config.WEBMASTER_VERIFICATION_CONTENT %}<meta name="google-site-verification" content="{{ config.WEBMASTER_VERIFICATION_CONTENT }}"/>{% endif %}
   {% block extra_head %}{% endblock %}
</head>
<body>
<div>
   <div id="hd" class="pure-g">
   <div id="header"  class="pure-u-1">
   {% if on_entry %}<h2 id="logo">{% else %}<h1 id="logo">{% endif %}{% if config.TITLE %}<a href="/">{{ config.TITLE }}</a>{% endif %}{% if on_entry %}</h2>{% else %}</h1>{% endif %} <span class="feed"><a href="{%if config.FEED_SMITH %}{{config.FEED_SMITH}}{%else%}/feed{%endif%}"></a></span>   <div style="clear:both"></div>

   <div class="gc-social">
        {%if logined %}
    <span class="signed-in">
      <div>
        <a href="https://plus.google.com/me" class="email" title="{{logined.nickname()}}">{{logined.email()}}</a>
        <a href="/logout">Sign out</a>
      </div>
      <img src="{{logined.email()|gravatar(30)}}">
    </span>{%else%}<span class="signed-out">
      <a class="button" id="loginLink" href="/login">Sign in</a>
    </span>{%endif%}
  </div>
   <div id="menu" class="pure-menu pure-menu-horizontal pure-menu-scrollable">
   <ul  class="pure-menu-list">
   <li class="item pure-menu-item{% if on_homepage %} selected{% endif %}"><a href="/" class="pure-menu-link">Home</a></li>
   <li class="item pure-menu-item{% if on_archive %} selected{% endif %}"><a href="/archives" class="pure-menu-link">Archives</a></li>
   <li class="item pure-menu-item{% if on_comments %} selected{% endif %}"><a href="/comments" class="pure-menu-link">Comments</a></li>
   <li class="item pure-menu-item{% if on_statuses %} selected{% endif %}"><a href="/sayings" class="pure-menu-link">Sayings</a></li>
   <li class="item pure-menu-item{% if on_snippets %} selected{% endif %}"><a href="/snippets" class="pure-menu-link">Snippets</a></li>
   </ul></div>
   <div style="clear:both"></div>
   </div>
   </div>
   <div id="bd" class="pure-g">
   <div id="main" class="pure-u-1 pure-u-md-3-4">   
      <div class="main">{% block body %}{% endblock %}</div>
    </div>
    <div id="sidebar" class="pure-u-1 pure-u-md-1-4">
    <div class="sidebar">
           {%block commentform%}
        {% include "commentform.html" %}
        {%endblock%}
        {% if not on_new and not on_search%}
            <div class="box">
                <h3>Search</h3>
        {% block search %}
              <form action="/search" id="gsearchbox" class="pure-form">
                  <input type="text" name="q" id="input_search" class="gsc-input"/>
                  <input type="hidden" value="Search" />
              </form>
        {% endblock %}
            </div>
        {%endif%}
        {% if recent_entries and not on_new%}
            <div class="box">
                <h3>Recent posts</h3>
                <ul class="recent">
                {% for entry in recent_entries %}
                    <li class="entry summary">
                        <a href="{{ entry.link }}">{{ entry.title }}</a>
                        <span class="date" title="{{ entry.published }}">
                        </span>
                    </li>
                {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% if not on_archive and not on_new%}
            {% if all_tags %}
            <div class="box">
                <h3>Tag Cloud</h3>
                <ul id="tagcloud">
                {% for tag in all_tags %}
                <li class="t{{tag.entrycount|restrict_to_max(5)}}"><a href="{{ tag.link() }}">{{ tag.name }}</a>{% if config.SHOW_ENTRYCOUNT %} <span class="entrycount">({{tag.entrycount}})</span>{%endif%}</li>
                {% endfor %}
                </ul>
            <div style="clear:both"></div>
            </div>
            {%endif%}
            {% if all_months %}
            <div class="box">
                <h3>Blog Archives</h3>
                <ul class="archives">
                {% for month in all_months %}
                <li><a href="{{ month.link() }}">{{ month.monthyear }}</a>{% if config.SHOW_ENTRYCOUNT %} <span class="entrycount">({{month.entrycount}})</span>{%endif%}</li>
                {% endfor %}
                </ul>
            </div>
            {%endif%}
        {% endif %}

        {% if on_homepage%}
        <div class="box">
            <h3>External Links</h3>
            <ul class="links">
            {% for link in LINKS %}
                <li>
                    <a href="{{ link.url }}">{{ link.value }}</a>
                </li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}

        {% for box in BOXES %}
            <div class="box">
                {% if box.title %}
                    <h3>{{ box.title|safe }}<h3>
                {% endif %}
                {{ box.html|safe }}
            </div>
        {% endfor %}
    </div>
    </div>
    </div>
<div id="footer" class="pure-g">
        <span id="footermeta" class="pure-u-1 pure-u-md-4-5">&copy;{%if last_updated%}Last updated: {{last_updated|date("%X,%x")}}{%endif%}
        <!--{% if config.EMAIL and config.NAME %}
        <a href="mailto:{{ config.EMAIL }}">{{ config.NAME }}</a> -
        {% endif %}-->
        {% if admin %}
            - <a class="new" href="/new">New</a> - <a href="/import_wp">Import</a> - <a href="/settings">Settings</a>{% endif %}
</span>
<span id="appengine" class="pure-u-1 pure-u-md-1-5"><a href="http://www.python.org/" title="Python Powered" class="python">Python</a><a href="http://code.google.com/appengine" title="Powered by Google App Engine" class="gae">Google Appengine</a></span></div>
</div>

{% if config.ANALYTICS and not admin %}
    <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
        var pageTracker = _gat._getTracker("{{ config.ANALYTICS }}");
        pageTracker._initData();
        pageTracker._trackPageview();
    </script>
{% endif %}
<script type="text/javascript">prettyPrint();</script>
<script src="/static/javascript/clipboard.min.js" type="text/javascript"></script>
<script src="/static/javascript/tooltips.js" type="text/javascript"></script>
<script>
var clipboardDemos=new ClipboardJS('.btn');
clipboardDemos.on('success',
    function(e){
    e.clearSelection();
    console.info('Action:',e.action);
    console.info('Text:',e.text);
    console.info('Trigger:',e.trigger);
    showTooltip(e.trigger,'Copied!');});
clipboardDemos.on('error',function(e){
    console.error('Action:',e.action);
    console.error('Trigger:',e.trigger);
    showTooltip(e.trigger,fallbackMessage(e.action));});

var clipboardDemos=new ClipboardJS('.copy');
clipboardDemos.on('success',
    function(e){
    e.clearSelection();
    console.info('Action:',e.action);
    console.info('Text:',e.text);
    console.info('Trigger:',e.trigger);
    showTooltip1(e.trigger,'Copied!');});
clipboardDemos.on('error',function(e){
    console.error('Action:',e.action);
    console.error('Trigger:',e.trigger);
    showTooltip1(e.trigger,fallbackMessage(e.action));});
</script>
{%if on_homepage%}
<script src="/static/javascript/clamp.js" type="text/javascript"></script>
<script>
  var $container = $('.clamp-ellipsis');
  $container.clamp({clamp: 10});
</script>{%endif%}
</body>
</html>