        <div class="box"><a name="comments"></a>
            <h3>{%if not on_entry and not on_page %}
{%if not logined %}<a href="/login" title="Signin with Google account">Signin</a> to comment{%else%}say something{%endif%}{%else%}{%if entry.koment%}{%if not logined %}<a href="/login" title="Signin with Google account">Signin</a> to comment{%else%}say something{%endif%}{%else%}Comments off{%endif%}{%endif%}</h3>
            {%if not on_entry and not on_page%}
            {%if logined%}<form id="commentform" action="{%if on_new%}/poststatus{%else%}/postcomment{%endif%}" method="post">
            <input type="hidden" name="to_url" value="{{ curturl }}" />
            <input type="hidden" name="to_title" value="{{ comment_title }}" />
                <textarea id="content" width="100%"name="content" rows="3"></textarea>
                <p><input name="submit" type="submit" id="submit" tabindex="5" value="{%if on_new%}Post status{%else%}Submit{%endif%}" /></p>
            </form>{%endif%}
            {%else%}{%if entry.koment%}
            {%if logined%}<form id="commentform" action="{%if on_new%}/poststatus{%else%}/postcomment{%endif%}" method="post">
            <input type="hidden" name="to_url" value="{{ curturl }}" />
            <input type="hidden" name="to_title" value="{{ comment_title }}" />
                <textarea id="content" width="100%"name="content" rows="3"></textarea>
                <p><input name="submit" type="submit" id="submit" tabindex="5" value="{%if on_new%}Post status{%else%}Submit{%endif%}" /></p>
            </form>{%endif%}
            {%endif%}
            {%endif%}
            {%if not on_new%}
            <ul class="relatedcomments">
            {% if on_entry or on_comment or on_status or on_page%}
            {% if pagecomments %}
            {% for comment in pagecomments %}
                <li class="pagecomment">
                <a name="{{comment.key().id()}}"></a>
                <div class="gravatar"><img height="48" width="48" class="avatar" src="{{comment.author.email()|gravatar(48)}}" alt=""/></div>
                <div class="commentbody"><a href="{{comment.link}}">{{ comment.author.nickname() }}</a> <span class="cmtdate">{{comment.published|bettertimesince}}</span>
{%if logined%}<a href="#" title="Reply this comment" class="reply" cid="{{comment.key().id()}}"> <img src="/static/images/reply.png" alt="Reply this comment"/> </a>{%endif%}<br />
                <p>{%if comment.author.nickname =="haitai"%}<b>{{comment.body|striptags|contentshortor(50)}}</b>{%else%}{%if comment.body %}{{comment.body|striptags|contentshortor(50)}}{%else%}<i>This comment content removed by the blog administrator.</i>{%endif%}{%endif%}</p>
                {%if comment.replycomments%}<div class="replycomments">{%for comment in comment.replycomments%}<a name="{{comment.key().id()}}"></a>
<div class="gravatar"><img height="36" width="36" class="avatar" src="{{comment.author.email()|gravatar(36)}}" alt=""/></div>
<div class="commentbody"><a href="{{comment.link}}">{{ comment.author.nickname() }}</a> <span class="cmtdate">{{comment.published|bettertimesince}}</span>
<br />
<p>{%if comment.author.nickname== "haitai"%}<b>{{comment.body|striptags|contentshortor(50)}}</b>{%else%}{%if comment.body %}{{comment.body|striptags|contentshortor(50)}}{%else%}<i>This comment content removed by the blog administrator.</i>{%endif%}{%endif%}</p>

                {%endfor%}</div>{%endif%}
                </div>
                <div class="clear"></div>
                </li>
            {% endfor %}{%else%}
            <li class="comment">No comments here</li>
            {%endif%}
            {%else%}
            {% if relatedcomments %}
            {% for comment in relatedcomments %}
                <li class="comment">
                <a name="{{comment.key().id()}}"></a>
                <div class="gravatar"><img height="32" width="32" class="avatar" src="{{comment.author.email()|gravatar(32)}}" alt=""/></div>
                    <div><a href="{{comment.link}}">{{ comment.author.nickname() }}</a></div>
                    <div class="body" title="{{ comment.published }}">{%if comment.author.nickname =="haitai"%}<b>{%if comment.body %}{{comment.body|striptags|contentshortor(50)}}{%else%}<i>This comment content removed by the blog administrator.</i>{%endif%}</b>{%else%}{%if comment.body %}{{comment.body|striptags|contentshortor(50)}}{%else%}<i>This comment content removed by the blog administrator.</i>{%endif%}{%endif%}
                    </div>
                </li>
            {% endfor %}{%else%}
            <li class="comment">No comments here</li>
            {%endif%}
            {%endif%}
            </ul>
            {%if not on_entry and not on_comment and not on_status and not on_page%}<p class="morecomments">{%if not show_comments%}<a href="?show_comments=true">Read more comments...</a>{%else%}<a href="/comments">Read all comments...</a>{%endif%}</p>{%endif%}
            {%endif%}
        </div>
