{% extends "main.html" %}

{% block title %}{{ entry.title }} - {% endblock %}
{% block commentform %}{% endblock %}
{% block entry_class %}permalink entry full{% endblock %}
{% block above_entries %}
    <div class="infomessage">
        <a href="/">Home</a> &raquo; <a href="/{{entry.year}}">{{entry.year}}</a> &raquo; <a href="/{{entry.year}}/{{entry.month}}">{{month}}</a>
    </div>
    {% if invalid %}
        <p>
            <a style="color: red; font-weight: bold;" href="http://validator.w3.org/check?url=http://{{ request.host }}{{ entry.link}}" class="external">Invalid XHTML!</a>
        </p>
    {% endif %}
{% endblock %}
{%block shorturl%}<div class="shorturl">Permalink <a href="http://{{request.host}}/post/{{entry.key().id()}}" title="Permalink to {{entry.title}}">http://{{request.host}}/posts/{{entry.key().id()}}</a></div>{%endblock%}
{% block disqus_name %}
    <!-- {% if entry.koment %}<div class="comments"><a href="#comments">Leave a comment</a></div>{% else %}<span class="comments">Comments off</span>{% endif %} -->
{% endblock %}
{% block below_entries %}
{% if on_entry and entry.relateposts%}
    <div class="box">
        <h3>Related entries</h3>
        <ul class="related">
        {% for entry in entry.relateposts %}
            <li class="entry">
                <a href="{{ entry.link }}">{{ entry.title }}</a>
                <span class="date" title="{{ entry.published }}">
                </span>
            </li>
        {% endfor %}
        </ul><div style="clear:both"></div>

    </div>
{% endif %}
{% include "commentform.html" %}
{% if entry.next or entry.prev%}
<div class="navigation">
    {% if entry.next %}
        {%for next in entry.next%}
        <a href="{{next.link}}"  class="previous">&laquo; {{next.title}}</a>
        {%endfor%}
    {% endif %}
    {% if entry.prev %}
        {%for prev in entry.prev%}
        <a href="{{prev.link}}"  class="next">{{prev.title}} &raquo;</a>
        {%endfor%}
    {% endif %}
</div>
{%endif%}
{% endblock %}
