{% extends "base.html" %}

{% block body %}
    {% block above_entries %}{% endblock %}
    {% for entry in entries %}
        <div id="{{ entry.key() }}" class="{% block entry_class %}entry{% endblock %}">
        {% if entry.entrytype=='post' %}
            {% if on_entry %}<h1>
                <span class="entry_title">{{ entry.title }}</span>
                {% else %}<h2><a href="{{ entry.link }}" class="entry_title">{{ entry.title }}</a>{% endif %}{% if entry.source %}<a href="{{entry.source}}" class="external"></a>{% endif %}
                {% if admin %}
                    <a class="hidden edit" href="/edit/{{ entry.key() }}">normal edit</a>
                    <a class="hidden edit" href="/edit/{{ entry.key() }}?diff=1">diff edit</a>
                    <a class="hidden delete" href="#">delete</a>
                {% endif %}
            {% if on_entry %}</h1>{% else %}</h2>{% endif %}

            <div class="post_date">
                <span title="{{ entry.published }}">{{ entry.published|bettertimesince }}</span>
                {% if entry.published == entry.updated %}{%else%}<span title="Updated at {{entry.updated}}" class="edit">{{entry.updated|date("%H:%M %p, %b %d")}}</span>{% endif %}
            </div>
            <div class="body clamp-ellipsis">
                {%if on_entry%}{%if entry.body_html%}{{entry.body_html|safe}}{%else%}{{ entry.body|safe }}{%endif%}{%else%}{%if entry.body_html%}{{entry.body_excerpt|safe}}{%else%}{{ entry.body|safe }}{%endif%}{%endif%}
            </div>
            <div class="meta">
            {% if entry.tags %}
                <div class="tags">
                    Tagged {{entry.tags|localelist|safe}}
                </div>
            {% endif %}
            {%if on_entry%}
            {%block shorturl%}<div class="shorturl">Permalink: <a href="/post/{{entry.key().id()}}" title="Permalink to {{entry.title}}">/post/{{entry.key().id()}}</a></div>{%endblock%}
            {%else%}
            {% if entry.koment %}<div class="comments">{%if entry.comments_count== 0%}No{%else%}{{entry.comments_count}}{%endif%} <a href="{{entry.link}}#comments">{%if entry.comments_count== 1%}comment{%else%}comments{%endif%}</a></div>{% else %}<div class="comments">Comments off</div>{% endif %}
            {%endif%}
            </div>
            <div style="clear:both;"></div>
            {% endif %}
            {% if entry.entrytype=='page' %}
                {% if on_page %}
                <h2><span class="entry_title">{{ entry.title }}</span>
                {% else %}<h2><a href="{{ entry.link }}" class="entry_title">{{ entry.title }}</a>{% endif %}
                {% if entry.source %}
                <a href="{{entry.source}}" class="external"></a>
                {% endif %}
                    {% if admin %}
                        <a class="hidden edit" href="/edit/{{ entry.key() }}">normal edit</a>
                        <a class="hidden edit" href="/edit/{{ entry.key() }}?diff=1">diff edit</a>
                        <a class="hidden deletecomment" href="#">delete</a>
                    {% endif %}
                </h2>

                <div class="post_date">
                    <span title="{{ entry.published }}">{{ entry.published|bettertimesince }}</span>
                    {%if admin%}{% if entry.published== entry.updated %}{%else%}<span title="Updated at {{entry.updated}}" class="edit">{{entry.updated|date("%H:%M %p, %b %d")}}</span>{% endif %}{%endif%}
                </div>
                <div class="body clamp-ellipsis">
                    {%if on_page%}{%if entry.body_html%}{{entry.body_html|safe}}{%else%}{{ entry.body|safe }}{%endif%}{%else%}{%if entry.body_html%}{{entry.body_excerpt|safe}}{%else%}{{ entry.body_excerpt|safe }}{%endif%}{%endif%}
                </div>
            {% endif %}

            {% if entry.entrytype== 'comment' %}
            <a name="{{entry.key().id()}}"></a>
                <div class="commentgravatar"><img height="50" width="50" class="avatar avatar-50" src="{{entry.author.email()|gravatar(50)}}" alt="{%if entry.author.email() in ADMINS%}He is an administrator.{%endif%}"/></div>
                <h2>
                    <a href="{{entry.link}}" class="comment_title"><span class="{%if entry.author.email() in ADMINS%}admins{%endif%}">{%if admin%}{{ entry.author.nickname() }}{%else%}{{ entry.author.nickname()|hidenickname }}{%endif%}</span></a> {%if admin%} <a class="deletecomment hidden" href="#">delete</a>{%endif%}
                </h2>
                    <div class="post_date comment_date"><span title="{{ entry.published }}">{{entry.published|bettertimesince}}</span></div>
                <div class="comment_body">
                     <span class="comment_date">said {%if entry.to_title%}on "<a href="{{ entry.to_url }}" class="">{{entry.to_title}}</a>"{%endif%}</span> {%if entry.body%}{{entry.body|striptags}}{%else%}<i>This comment content removed by the blog administrator.</i>{%endif%}
                </div>
            {% endif %}
            {% if entry.entrytype =='status' %}
            <a name="{{entry.key().id()}}"></a>
                    <span class="status_title">{{ entry.body|striptags }}</span>
                    <span class="comment_date"><a href="{{entry.link}}"><span title="{{ entry.published }}">{{entry.published|bettertimesince}}</span></a>  {%if admin%} <a class="hidden deletecomment" href="#">delete</a>{%endif%}</span>
            {% endif %}

            {% if entry.entrytype== 'snippet' %}
    <h3>{%if not on_snippet%}<a href="{{entry.link}}" class="snippetlink">{{ entry.title }}</a>{%else%}{{ entry.title }}{%endif%}</h3>
            <div class="post_date">
                <span title="{{ entry.published }}">{{ entry.published|bettertimesince }}</span>
                {% if entry.published == entry.updated %}{%else%}<span title="Updated at {{entry.updated}}" class="edit buttonhide">{{entry.updated|date("%H:%M %p, %b %d")}}</span>{% endif %}{% if entry.koment %}<div class="comments snippetcomments">{%if entry.comments_count== 0%}No{%else%}{{entry.comments_count}}{%endif%} <a href="{{entry.link}}#comments">{%if entry.comments_count== 1%}comment{%else%}comments{%endif%}</a></div>{% else %}<div class="comments">Comments off</div>{% endif %}{% if admin %}
    <a class="edit" href="/edit/{{ entry.key() }}">normal edit</a>
    <a class="edit" href="/edit/{{ entry.key() }}?diff=1">diff edit</a>
    <a class="delete" href="#">delete</a>
{% endif %}

            </div>
    <div id="code_frame">
            <div id="code_buttons">
                <span class="go_right">
                    <a href="{{entry.link}}?act=raw" target="new" class="buttonsm">raw</a><a href="{{entry.link}}?act=dl" target="new" class="buttonsm">download</a><a class="buttonsm buttonhide copy" data-clipboard-target="#cc{{entry.key().id()}}">copy</a>{% if entry.source %}<a href="{{entry.source}}" target="new" class="buttonsm">source</a>{% endif %}

                </span>
                <span class="h_640"><a href="{{entry.link}}" class="buttonsm" style="margin:0">{{entry.slug}}</a></span> {{entry.body|filesizeformat}}
            </div>
            <div id="selectable">
                <pre class="prettyprint linenums clamp-ellipsis" id="cc{{entry.key().id()}}">{{entry.body}}</pre>
            </div>
    </div> 
            {% endif %}
        </div>
    {% endfor %}
    {% block below_entries %}{% endblock %}
{% endblock %}
