{% extends "base.html" %}

{% block title %}Search - {% endblock %}

{% block disqus %}{% endblock %}

{% block body %}
<div class="box">
    <div class="infomessage">
    <a href="/">Home</a> &raquo; Search
    </div>
    <!-- Google Custom Search Element -->
    <div id="cse-search-form" style="width: 100%;">
        <script>
  (function() {
    var cx = '014994773469974581074:ifhfbgk6opc';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:searchbox></gcse:searchbox>
    </div>

    <div id="cse">
    <gcse:searchresults></gcse:searchresults></div>
</div>
{% endblock %}