{% extends "base.html" %}
{% block title %}Settings - {% endblock %}
{% block body %}
<div class="infomessage">
<a href="/">Home</a> &raquo; Settings{%if saved%} Saved OK!{%endif%}
</div>

    <form id="new" class="settings" method="post">
        {% for w in form %}
        <div class="seinpt"><p>{{w.name|lower}}</p>
        {{w}}</div><div style="clear:both"></div>
        {%endfor%}
        <div style="margin-top: 1em;">
            <input type="submit" value="Save"/>
            <a style="margin-left: .5em;" href="/">Cancel</a>
        </div>
    </form>
{% endblock %}
{% block disqus %}{% endblock %}